*{
    padding: 0;
    margin: 0;
    color: aqua;
    text-align: center;

}


html, body{
    background-color: blue;


}

.main-container{
    border: 7px solid #f8a;
    border-radius: 50px;
    margin: 2rem;
    background-color:rgb(52, 160, 19);

}

nav, section, footer, aside, article{
        border: 40px rgb(rgb(255, 196, 0), green, blue);
        margin: 1rem;
        border-radius: 10px;
        padding: 1rem;                                                  

}

article, aside{
        width: 40%;
        display: inline-block;
        height: 300px;

}

nav, footer, section{

    background-color: darkgray;
    
}